.container {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main-content"
      "footer";
  }
  
/*** HEADER ***/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav-logo img{
    width: 80px;
}

/* Nav */
.navbar{
    height: 100%;
}

.nav-link{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.nav-link-item{
    height: 100%;
    padding-top: 20px;
    margin-left: 60px;
}

.nav-link-item a{
    padding: 10px;
    font-size: 16px;
    transition: color 0.4s ease-in-out;
}

.nav-link-item a::before{
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: width 0.4s ease-in-out;
}

.nav-link-item:hover a{
    color: var(--main-color);
}

.nav-link-item a:hover::before{
    width: 100%;
}

/*** MAIN ***/ 
.main-content {
    display: grid; 
    grid-template-columns: 1.3fr; 
    grid-template-rows: 0.2fr 1.8fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "search-and-filter"
      "hebergements-and-populaire"
      "activites"; 
    grid-area: main-content;   
}

/* Search */
  .search-and-filter { 
    grid-area: search-and-filter; 
}

.search-content p{
    margin-top: 10px;
}

.search-form {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.search-form button {
    color: white;
    font-size: 16px;
    padding: 15px;
    background-color: var(--main-color);
}

.fa-map-marker-alt {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    padding: 16px;
    border-radius: 10px 0 0 10px;
}

.search-input {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    margin: 0;
    width: 20%;
}

.search-input-item {
    color: black;
    font-weight: bold;
    border: none;
    padding: 15px;
}

.search-input-item:focus {
    outline: 1px solid transparent;
}

button {
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.search-btn_mobile {
    display: none;
}

/* Filter */
.filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.filter p {
    font-weight: bold;
    margin-right: 20px;
}

.filter-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter-list-item {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: 20px;
    padding: 10px 20px;
    border: 3px solid var(--main-bg-color);
    border-radius: 35px;
    transition: 0.3s;
} 

.filter-list-item:hover {
    background-color: var(--filter-bg-color);
    border: 3px solid transparent;
    cursor: pointer;
} 

.filter-list-item i {
    color: var(--main-color);
    margin-right: 10px;
}

.search-results {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.search-results .fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 1px solid var(--main-bg-color);
    width: 10px;
    height: 10px;
    border-radius: 25px;
    padding: 10px;
    margin-right: 10px;
}

.hebergements-and-populaire {
  display: grid; 
  grid-template-columns: 1.3fr 0.7fr; 
  grid-template-rows: 1fr; 
  gap: 30px; 
  grid-template-areas: 
    "hebergements populaires"; 
  grid-area: hebergements-and-populaire; 
}

/* Hebergements */
.hebergements {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    grid-area: hebergements;
}
    
.hebergements-title {
    display: flex;
    align-items: center;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;  
}

.hebergements-cards img {    
    height: 140px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    transition: 0.3s;
}

.hebergements-cards img:hover {
    color: white;
    opacity: 0.4;
}

.hebergements-cards .card-content {
    height: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    transition: 0.3s;
}

.hebergements-cards .card-title:hover {
    color: var(--main-color);
}

.hebergements-cards .card-subtitle {
    margin-top: 5px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
} 

.hebergements-txt {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.hebergements-txt:hover {
    color: var(--main-color);
}

/* Populaires */
.populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    grid-area: populaires;
    }
    
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards img:hover {
    opacity: 0.4;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activites */

.activites {
    grid-area: activites;
}

.activites .activites-title {
    margin: 50px 0 30px;
    }
    
    .activites-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    }
    
    .activites-card .card {
    display: flex;
    flex-direction: column;
    height: 380px;
    padding: 0;
    }
    
    .activites-card img {
    height: 85%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.3s;
    }
    
    .activites-card img:hover {
    opacity: 0.4;
    }
    
    .activites-card .card-content {
    display: flex;
    align-items: center;
    margin: 20px 15px 10px;
    }

/*** FOOTER ***/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--main-bg-color);
    margin-top: 50px;
    padding: 20px 45px 20px 45px;
    }

    .footer-menu h3 {
        margin-bottom: 15px;
    }
    
    .footer-menu ul {
    padding-left: 0px;
    line-height: 40px;
    }
    
    .footer-menu a:hover {
    color: #0065FC;
    }
  