header {
    display: flex;
    flex-direction: row;
    height: 80px;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo img {
    width: 80px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navbar .nav-link {
    display: flex;
    margin: 25px 0;
    font-size: 18px;
}

.navbar .nav-link .nav-link-item {
    margin-left: 60px;
}