header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

/* .header {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". .";
    grid-area: header;
  }

   .nav-logo {
    padding: 30px 0;
  }

  .nav-logo img {
    width: 80px;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
  }

  .navbar .nav-link {
      display: flex;
      margin: 0;
  }
  
  nav .nav-link .nav-link-item {  
      list-style: none;
      margin: 20px 0 0 100px;
  }

  .nav-link-item a {  
      transition: color 0.5s ease-in-out;
  }

  .nav-link-item a::before{  
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 3px;
      background-color: var(--main-color);
      transition: width 0.4s ease-in-out;
  }

  .nav-link-item:hover a{
      color: var(--main-color);
  }
  
  .nav-link-item a:hover::before{
      width: 100%;
  } */