@media screen AND (max-width: 767px){
    html,body{
        width:100%;
        overflow-x:hidden;
    }

    .main-container {
        padding: 0;
    }

    /*** HEADER ***/
    header {
        flex-direction: column;
        align-items: center;
        height: 115px;
    }

    .nav-logo {
        margin-top: 20px;
    }

    .navbar {
        border-bottom: 2px solid var(--main-bg-color);
    }

    .navbar .nav-link{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .navbar .nav-link .nav-link-item {
        display: flex;
        font-size: 15px;
        justify-content: center;
        margin-left: 0;
        padding: 30px 0 20px 0;
        width: 100%;
    }

    .navbar .nav-link .nav-link-item:hover {
        color: var(--main-color);
        border-top: 0;
        border-bottom: 1px solid var(--main-color);
    }

    /*** MAIN ***/
    .search-and-filter {
        padding: 0 20px;
    }

    .search-content h1 {
        font-size: 21px;
        margin-bottom: 10px;
    }

    .search-input {        
        margin: 0;
        width: 100%;
    }
    
    .search-input-item {
        border-top: 1px solid var(--main-bg-color);
        border-bottom: 1px solid var(--main-bg-color);
        width: 100%;

    }
    .search-btn_desktop {
        display: none;
    }

    .search-btn_mobile {
        display: block;
        float: left;
        border-radius: 15px;
        box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, .3);
        z-index: 100!important;
    }

    .filter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-list {
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .filter button {
        display: flex;
        font-size: 12px;
        width: 140px;
        height: 50px;
        margin: 0 0 10px 10px;
    }

    .search-results {
        font-size: 13px;
    }

    .hebergements-cards, .populaires-cards, .activites-cards {
        display: flex;
        flex-direction: column;
    }
    
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .populaires {
        background-color: var(--main-bg-color);
        border-radius: 0;
    }

    .hebergements {
        background-color: transparent;
    }

    .hebergements-card, .activites-card, footer {
        display: flex;
        flex-direction: column;
    }

    .activites .card{
        height: 200px;
    }

    .activites .card img{
        height: 141px;
    }

    footer {
        gap: 40px;
    }  
}