.search-content h1 {
    font-size: 24px;
    margin: 20px 0;
}

.search-and-filter {
    margin-top: 30px;
}

.search-form {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.search-form button {
    color: white;
    font-size: 16px;
    padding: 15px;
    background-color: var(--main-color);
}

.fa-map-marker-alt {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    padding: 16px;
    border-radius: 15px 0 0 15px;
}

.search-input {
    margin: 0;
}

.search-input-item {
    color: black;
    font-weight: bold;
    border: none;
    padding: 15px;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    z-index: -1;
}

.search-input-item:focus {
    outline: 1px solid transparent;
}

button {
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.search-btn_mobile {
    display: none;
    z-index: 100;
}