@media screen and (min-width: 768px) and (max-width: 1024px){
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 270px;
        height: 140px;
        margin-right: 20px;
    }

    .populaires-cards .card:last-child {
        margin-right: 0;
    }

    .activites-card .card {
        height: 270px ;
    }

    .activites-card .card img {
        height: 200px;
    }

    .activites-card .card .card-content {
        margin: 15px;
    }    
}