@media screen (max-width: 1024px){
    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
    }

    .populaires-cards .card:last-child {
        margin-right: 0;
    }

    .activites-card .card {
        height: 270px ;
    }

    .activites-card .card img {
        max-height: 200px;
    }
}